@border1: 1px solid rgba(255,
255,
255,
0.2);
 body,
html {
    margin: 0;
    height: 100%;
    font-family: 'roboto', sans-serif;
    overflow: hidden;
}

#loading {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 1);
    font-size: 32px;
    text-align: center;
    padding-top: 200px;
    transition: all 1s ease;
    z-index: 100;
    opacity: 0;
}
.box {
    display: inline-block;
    vertical-align: middle;
    max-width: 360px;
    overflow: hidden;
    h1 {
        background: #7fcc21;
        margin: 0;
        padding: 12px;
        font-weight: 300;
        border-radius: 3px 3px 0 0;
        color: white;
    }
    .text {
        background: rgba(255,255,255,0.9);
        padding: 8px;
        text-align: justify;
        span {
            font-weight: 400;
            font-size: 15px;
        }
        img {
            max-width: 80%;
            margin: 12px auto;
            display: block;
        }
        a {
            display: block;
            padding: 4px;
            text-decoration: none;
            color: #0e82ac;
        }
    }
    .buttons {
        padding: 16px 8px;
        background: rgba(255,255,255,0.9);
        border-radius: 0 0 3px 3px;
        border-top: 1px solid #7fcc21;
        font-size: 0px;
        
        .button {
            background: #7eca21;
            display: inline-block;
            padding: 8px;
            color: white;
            border-radius: 3px;
            font-size: 22px;
            width: 23%;
            margin: 0 1%;
            font-weight: 300;
            box-sizing: border-box;
            &:hover {
                background: #73b81e;
            }
            &:active {
                background: #68a71b;
            }
        }
    }
}
.wrap {
    position: relative;
    height: 100%;
    #screen {
        position: relative;
        background: #3E4651 url(../images/1742994.jpg);
        box-sizing: border-box;
        height: 100%;
        text-align: center;
        &:after {
            content: "";
            position: relative;
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}
.hidecheck {
    display: none;
}
.blurbg {
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 10;
    left: 0;
    .color {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        width: 100%;
        height: 100%;
    }
    .content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 12;
        width: 100%;
    }
}
.notify {
    height: 0%;
    transition: all 1s ease;
    box-shadow: 0 0 10px black;
    .color{
        background: rgba(0,0,0,0.1);    
    }
    .content {
        height: 100%;
        text-align: center;
        box-sizing: border-box;
        .slide{
            position: absolute;
            left: 0;
            top: 0;
            -webkit-transform: translate(0, -100%);
            height: 100%;
            width: 100%;
            padding-top: 64px;
            box-sizing: border-box;
            transition: all 1s ease;
            opacity: 0;
            &:after {
                content: "";
                position: relative;
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
        }
        .head{
            position: absolute;
            width: 100%;
            border-bottom: @border1;
            color: white;
            top:0;
            h1{
                margin: 0;
                font-weight: 300;
                line-height: 48px;
                background: rgba(255,255,255,0.1);
                padding: 0 64px;
            }
            .button{
                position: absolute;
                right: 0;
                top:0;
                height: 48px;
                width: 48px;
                border-left: @border1;
                background: rgba(255, 255, 255, 0.1);
                &:before{
                    content: "\d7";
                    height: 48px;
                    line-height: 45px;
                    font-size: 48px;
                }
                &:hover{
                    background: rgba(255, 255, 255, 0.05);    
                }
                &:active{
                    background: rgba(255, 255, 255, 0.0);    
                }
            }
        }
        .social {
            .buttons{
                display: inline-block;
                .button{
                    margin-bottom: 20px;
                    padding: 8px 10px;
                    color: white;
                    border-radius: 3px;
                    text-decoration: none;
                    display: block;
                    text-align: right;
                    font-size: 20px;
                    vertical-align: middle;
                    min-width: 125px;
                    span{
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 32px;
                        vertical-align: middle;
                        margin-left: 16px;
                    }
                    &:before{
                        line-height: 32px;
                        vertical-align: middle;
                        height: 32px;
                        display: inline-block;
                        float: left;
                    }
                }
            }
            .tw{
                background: #1FC7FF;    
            }
            .fb{
                background: #3C599F;    
            }
            .vk{
                background: #4C75A3;    
            }
            .gplus{
                background: #DD4B39;    
            }
        }
    }
}
#share:checked ~ .notify,
#info:checked ~ .notify,
#setting:checked ~ .notify{
    height: 100%;
}
#share:checked ~ .notify .social,
#info:checked ~ .notify .info,
#setting:checked ~ .notify .setting{
    -webkit-transform: translate(0, 0%);
    opacity: 1;
}
#lang:checked ~ * .en,#lang ~ * .ru{
    display: none;    
}
#lang:checked ~ * .ru, #lang ~ * .en{
    display: block;    
}